<!-- section concours -->
<div class="translate">
    <section class="container vitre" id="concours">
        <div class="row">
            <div class="col-md-6 p-md-5 my-auto" id="infoConcours">
                <div>
                    <h2 class="text-center text-md-start">CONCOURS SMART'HOLO</h2>
                    <p class="mt-5">Chaque semaine les membres peuvent voter pour leur NFT favoris. Le gagnant du concours verra son oeuvre affichée sur la page d'accueil du site, avec un lien vers sa galerie.</p>
                </div>
                <div class="liens w-100 mx-auto d-md-none text-center bg-dark">
                    <a class="mx-auto" href="#">Participer au concours</a>
                </div>
                <div class="liens w-100 mb-5 mx-auto d-md-none text-center bg-dark">
                    <a class="mx-auto" href="#">Accéder à la galerie pour voter</a>
                </div>
            </div>
            <div class="p-md-5 col-md-6 text-center my-auto" id="gagnant">
                <img src="../../../assets/img/hologramme/NissanT.gif" class=" imageConcours" alt="hologramme d'une voiture qui tourne">
                <h2 class="pt-3">GAGNANT DU CONCOURS</h2>
                <div class="liens w-100 mx-auto d-md-none bg-dark">
                    <a class="mx-auto" href="#">FirstHuman</a>
                </div>
                <div class="liens w-100 mx-auto d-md-none bg-dark">
                    <a class="mx-auto" href="#">Turning_Nissan</a>
                </div>
            </div>
        </div>
        <div class="row p-0 m-0 liens text-center d-none d-md-flex bg-dark">
            <a href="#" class="col-md-3">Participer au concours</a>
            <a class="col-md-4" href="#">Accéder à la galerie pour voter</a>
            <a class="col-md-2" href="#">FirstHuman</a>
            <a class="col-md-3" href="#">Turning_Nissan</a>
        </div>
    </section>
</div>

