
.vitre{
    padding: 10px 0;
    border-radius: 10px;
    background: linear-gradient(252.58deg, rgba(196, 196, 196, 0.25) 45.39%, rgba(255, 255, 255, 0.25) 82.84%);
    box-shadow: -8px -8px 50px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
}
