<div class="translate pt-5 mt-5">
    <section class="container" id="nftHolo">
        <div class="row">
            <h2 class="text-center title-translate text-center vitre  mx-auto col-md-6" id="nftHolloTitre">NFT'HOLO QU'EST CE QUE C'EST ?
                <svg xmlns="http://www.w3.org/2000/svg" width="40" fill="currentColor" class="bi bi-caret-down d-flex d-md-none ms-auto" viewBox="0 0 16 16">
                <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                </svg>
            </h2>
            <div class="vitre p-5 lh-lg col-md-7 d-none d-md-block">
                <p class="">Tatie Josie tout ça tout ça ! <br>
                Egestas auctor a felis tristique ut eleifend integer proin. Duis a nibh porta a mauris nibh dictum sit. Facilisis in viverra pulvinar sed in rutrum vulputate. <br>
                Mauris maecenas in pharetra massa morbi id vel. <br>
                Lorem ipsum dolor sit amet consectetur. <br>
                Egestas auctor a felis tristique ut eleifend integer proin. Duis a nibh porta a mauris nibh dictum sit. Facilisis in viverra pulvinar sed in rutrum vulputate. <br>
                Mauris maecenas in pharetra massa morbi id vel.</p>
                <a class="borderAngle m-2 mx-auto " href="#">En savoir plus</a>
            </div>
            <div class=" col-md-5 d-flex align-items-md-center align-items-lg-end">
                <img class="img-fluid my-5 my-md-0" id="holoPyra" src="../../../assets/img/hologram-iphone-pyramide-2018-v2-removebg-preview.png" alt="hologramme d'un lion dans une pyramide sur un téléphone">
            </div>
        </div>
    </section>
</div>