.form-control{
    border:2px solid #0064F2;
    }

img{
    width : 100%;
    cursor: pointer;
}

.icon{
    transition: all;
    transition-duration: 500ms;
}

svg{
    cursor: pointer;
}

.icon:hover{
    fill: #0064F2;
}

.hidden{
    display : none;
}
.popstyle{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 20;
    padding: 50px;
}

option{
    background-color: rgba(0, 0, 0, 0.819)!important;
    border: 10px solid #0064F2!important;
}
select:focus{
    background: linear-gradient(252.58deg, rgba(196, 196, 196, 0.25) 45.39%, rgba(255, 255, 255, 0.25) 82.84%);
}