<div class="mt-5 py-5 translate" id="whyEthComp">
    <section class="container mb-5 d-flex flex-column" id="whyEthereum">
        <div class="row p-2 pt-4 col-md-8 col-lg-6 mx-auto">
            <div>
                <h2 class="vitre px-4 mx-auto d-flex title-translate col-md-8" id="titreEth">POURQUOI L'ETHEREUM ?
                    <svg (click)="displayContent($event)" xmlns="http://www.w3.org/2000/svg" width="40" fill="currentColor" class="bi bi-caret-down d-flex d-md-none ms-auto" viewBox="0 0 16 16">
                        <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                    </svg>
                </h2>
                <div class="hidden d-md-none contentWhyEth text-center mx-auto">
                    <p class="w-auto mx-auto vitre p-4" [innerHTML]="contentCommentEvolue" ></p>
                    <p class="w-auto mx-auto vitre p-4" [innerHTML]="contentETH" ></p>
                </div>
            </div>
        </div>
            <!--<div id="espacement" class="d-none d-lg-flex"></div>-->
        <div class="row vitre d-none d-md-flex p-2 pt-4 col-md-8 col-lg-6 mx-auto">
            <div class="text-center">
                <h3> COMMENT SON PRIX A EVOLUE CES DERNIERS JOURS ?</h3>
            </div>
            <div id="evoEth d-none d-md-flex">
                <p class="p-4 text-center d-none d-md-flex" [innerHTML]="contentCommentEvolue"></p>
            </div>
        </div>
        <div class="row vitre col-12 col-lg-10 mx-auto d-none d-md-flex" id="eth">
            <img src="../../../assets/img/ethereum.webp" class="col-3 h-100 my-auto" alt="">
            <p class="p-2 text-center col-6 my-auto" [innerHTML]="contentETH"></p>
            <img src="../../../assets/img/ethereum.webp" class="col-3 h-100 my-auto" alt="">
        </div>
    </section>
</div>
