<div class="" id="whyEthComp">
    <section class="container mb-5 d-flex flex-column" id="whyEthereum">
        <div class="row vitre p-2 pt-4 col-6 mx-auto titreEth">
            <div>
                <h2 class="text-center">FINALEMENT, POURQUOI L'ETHEREUM ?</h2>
            </div>
            <div id="espacement" class="d-none d-lg-flex"></div>
            <div>
                <h3 class="text-center d-none d-lg-flex"> COMMENT SON PRIX A EVOLUE CES DERNIERS JOURS ?</h3>
            </div>
            <div id="evoEth d-none d-lg-flex">
                <!--TODO: appel à l'api pour l'évolution de l'ETH-->
                <p class="p-4  d-none d-lg-flex">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam facere quas culpa, harum ea assumenda est quibusdam molestias amet itaque laborum placeat ducimus porro fugit blanditiis eum eaque tempore fuga. Aspernatur perspiciatis consectetur in aperiam odio adipisci? Quod, facere corporis! Minima assumenda veritatis repudiandae explicabo ab molestiae saepe delectus. Dolor, eos repellendus? Doloribus optio in ab adipisci reprehenderit. Quos velit nemo laboriosam similique minima, dolore necessitatibus, molestias animi vitae asperiores odit, commodi eum quis mollitia harum ducimus praesentium atque adipisci veritatis porro? Distinctio voluptates vel natus commodi rem, dolorum obcaecati, officiis eos facilis maiores numquam minima quidem et eveniet? Rerum?</p>
            </div>
        </div>
        <div class="row vitre col-12 col-lg-10 mx-auto d-none d-md-flex" id="eth">
            <img src="../../../assets/img/ethereum.webp" class="col-3 h-100 my-auto" alt="">
            <p class="p-2 text-center col-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam facere quas culpa, harum ea assumenda est quibusdam molestias amet itaque laborum placeat ducimus porro fugit blanditiis eum eaque tempore fuga. Aspernatur perspiciatis consectetur in aperiam odio adipisci? Quod, facere corporis! Minima assumenda veritatis repudiandae explicabo ab molestiae saepe delectus. Dolor, eos repellendus? Doloribus optio in ab adipisci reprehenderit.</p>
            <img src="../../../assets/img/ethereum.webp" class="col-3 h-100 my-auto" alt="">
        </div>
    </section>
</div>
