.titre{
    text-align: center;
    padding-top: 100px;
}
.banniere{
    background-image: url(src\assets\img\wave\wave5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:left center;
    width: 100%;
    height: 80vh;
}