.logo{
    font-family: tr2n;
    font-weight: 400;
font-size: 40px;
line-height: 60px;
color: #0064F2;
text-shadow: 0.25px 0 #0064F2, -0.5px 0 #02D6F2, 0 0.5px #02D6F2, 0 -0.5px #02D6F2,
0.5px 0.5px #02D6F2, -0.5px 0.5px #02D6F2, 0.5px -0.5px #02D6F2, -0.5px 0.5px #02D6F2;;
}


#footer {
    border-top: 3px solid;
    border-image: linear-gradient(to right,black, #0064F2, #02D6F2, #0064F2, black) 1;
}