<section class="container-fluid mt-5 pt-5 bg-black" id="footer">
        <div class="row justify-content-evenly">
            <a class="borderAngle col-2 text-center my-auto" href="#">Nous Contacter</a>
            <a class="logo w-auto" routerLink=""><span class="text-center logo text-uppercase fw-light">smart'holo</span></a>
            <a class="borderAngle col-2 text-center my-auto" href="#">S'inscrire/Se connecter</a>
        </div>
        <div class="row justify-content-center">
            <a class="p-3 px-5 col-3 my-auto" aria-current="page" routerLink="#">Mentions Légales</a>
            <a class="p-3 px-5 col-3 my-auto" aria-current="page" routerLink="#">Politique de Confidentialité</a>
        </div>
        <div class="row justify-content-center">
            <p class="w-auto">2023 © HB Tommy Serain</p>
        </div>
</section>